/* Color schemes */
:root 
{
    /* General */
    --main-bg-color: #212121;
    --footer-bg-color: #616161;
    --table-strip-bg-color: #121315;
    --table-header-bg-color: #202225;;
    --table-header-color: hsla(0,0%,100%,.8);
    --table-header-border-color: #040405;

    /* Text */
    --text-color: silver;
    --link-color: #64b5f6;
    --link-hover-color: #2196f3
    --link-active-color: #64b5f6;
    --link-active-bg-color: transparent;
    --h3-color: #e0e0e0;
    --h4-color: #e0e0e0;
    --h5-color: #e0e0e0;
    
    /* Topbar */
    --topbar-bg-color: #2c2f33;
    
    /* Button */
    --button-color: #747f8d;

    /* Sidebar */
    --separator-color: #4f545c;
    --sidebar-bg-color: transparent
    --sidebar-item-color: inherit;
    --sidebar-item-2nd-color: hsla(0,0%,100%,.75);
    --sidebar-item-3rd-color: hsla(0,0%,100%,.55);

    /* Scrollbar */
    --scrollbar-bg-color: transparent;
    --scrollbar-thumb-bg-color: rgba(0,0,0,.4);
    --scrollbar-thumb-border-color: transparent;

    /* Alerts and Blocks */
    --alert-info-border-color: rgba(114,137,218,.5);
    --alert-info-bg-color: rgba(114,137,218,.1);

    --alert-warning-border-color: rgba(250,166,26,.5);
    --alert-warning-bg-color: rgba(250,166,26,.1);

    --alert-danger-border-color: rgba(240,71,71,.5);
    --alert-danger-bg-color: rgba(240,71,71,.1);

    --alert-tip-border-color: rgba(255,255,255,.5);
    --alert-tip-bg-color: rgba(255,255,255,.1);

    --blockquote-border-color: rgba(255,255,255,.5);
    --blockquote-bg-color: rgba(255,255,255,.1);

    --breadcrumb-bg-color: #2f3136;

    /* Code Higlighting */
    --code-bg-color: #161B22;
    --code-color: #c9d1d9;
    --code-keyword-color: #ff7b72;
    --code-comment-color: #57a64a;
    --code-macro-color: #beb7ff;
    --code-string-color: #a5d6ff;
    --code-string-escape-color: #161B22;
    --code-field-color: #d2a8ff;
    --code-function-color: #d2a8ff;
    --code-control-color: #d2a8ff;
    --code-class-color: #d2a8ff;
    --code-number-color: #b5cea8;
    --code-params-color: #d2a8ff;
    --code-breakpoint-color: #8c2f2f;
}
